body {
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/images/home-bgd.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}
header{
    width: 100%;
    background-color: #000000;

}
.navbar{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 90%;
    max-height: 70px;
    /* margin: auto; */
}
.logo img{
    max-width: 45px;
    margin-left: 0;
    top: 10px;
}
ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    gap: 20px;
}
ul li{
    margin: 20px;
    list-style: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 15px;
    /* padding-top: 20px; */
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
}
#landing-page {
    display:block;
    height: 75vh;
}
section {
    display: none;
}
#home {
    border: #293030;
    color: #c70000;
    transition: transform 0.2s ease-in-out;
    display: block;

}
#home {
    cursor: hand pointer;
    opacity: 0.8;
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}
#AMS-landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#welcome-pg {
    font-size: 15px;
    height: 25vh;
    text-decoration: none;

}
#log-page{
    display: block;
}
.login-container {
    background-color:rgba(0,0,0,0.2);
    padding: 7%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 40vw;
    margin: auto;
    height: 45vh;
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
tr th, 
tr td {
    padding: 15px;
}
#tsk-view {
    margin-top: 10px;

}
p {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    text-align: center;
    line-height: 0.1em;
}
p span #the-or{
    padding: 0 10px;
    background: #fff;

}
p #the-or {
    border-bottom: 1px solid #000;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    text-align: center;
    line-height: 0.1em;

}
#sign {
    color:#293030;
    font-style: italic;
    font-size: 25px;
}
input {
    width: 300px;
    height: 30px;
    font-style: italic;
    font-size: 15px;
    background-color: rgb(199, 199, 199);
    border: none;
    display: flex;
    flex-direction: column;
}
button {
    background-color: #c70000;
    color: white;
    width: 300px;
    height: 20px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    transition: transform 0.2s ease-in-out;
}
button:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
    
}

/* section css */
#login {
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
#signup {
    height: 80vh;
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}
#sign {
    color:#232d2f;
    font-style: italic;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}
#signup{
    display: none;
}
input {
    width: 300px;
    font-size: 20px;
    margin-top: 15px;
    height: 30px;
    font-style: italic;
    font-size: 15px;
    background-color: rgb(199, 199, 199);
    border: none;
}
button {
    background-color: #C70039;
    color: white;
    width: 310px;
    height: 30px;
    border: none;
    margin-top: 12px;
    font-weight: bold;
}
#rtn-acc{
    background: none;
    color: grey;
    text-decoration: underline;
    border: none;
    margin-top: 3%;
}

#task-window {
    margin: 0;
    padding: 0;
    background-color: rgba(233, 228, 228, 0.644);
}
#task {
    align-items: center;
    margin: auto;
    width: 600px;
    height: 80vh;
}
.tsks {
    width: 600px;
    height: 80vh;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.my-tsk {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 90%;
}
.icon {
    margin: auto;
    font-size: 25px;
    color: rgb(67, 165, 97);
    cursor: pointer;
}
.btn {
    display: flex;
    margin: auto;
    gap: 20px;
}
.btn-1 {
    background-color: rgb(67, 165, 97);
    color: white;
    height: 30px;
    width: 290px;
    font-size: 20px;
    font-weight: bolder;
    border: none;
}
.del {
    background-color: rgb(196, 68, 59);
}
.edit {
    background-color: rgb(170, 170, 170);
}
form {
    width: 100%;
    background-color: white;
    margin: auto;
    height: 60vh;
}
.form {
    display: flex;
    flex-direction: column;
    color: rgb(67, 165, 97);
}
.btn-2 {
    border: none;
    font-weight: bolder;
    height: 25px;
    width: 120px;
    color: white;
    align-items: flex-end;

}
footer{
    bottom: 0;
}
#contacts {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    bottom: 0;
}
#address {
    align-items: center;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}