body {
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
#signup {
    height: 80vh;
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}
#sign {
    color:#232d2f;
    font-style: italic;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}
#signup{
    display: none;
}
input {
    width: 300px;
    font-size: 20px;
    margin-top: 15px;
    height: 30px;
    font-style: italic;
    font-size: 15px;
    background-color: rgb(199, 199, 199);
    border: none;
}
button {
    background-color: #C70039;
    color: white;
    width: 310px;
    height: 30px;
    border: none;
    margin-top: 12px;
    font-weight: bold;
}
#rtn-acc{
    background: none;
    color: grey;
    text-decoration: underline;
    border: none;
    margin-top: 3%;
}